.compatible {
padding:50px;
box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  user-select: none;
  .texts {
    .items {
      font-family: Albert;
      font-weight: 700;
    }
    .hover-underline {
      font-size: 25px;
      color: #1b1528;
      position: relative;
      display: inline-block;
      padding: 10px 0px;
      box-sizing: border-box;
    }

    .hover-underline::after,
    .hover-underline::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #7956a6, #91d6ed);
      bottom: -5px;
      left: 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 1s ease-out;
    }

    .hover-underline::before {
      top: -5px;
      transform-origin: left;
    }

    .hover-underline:hover::after,
    .hover-underline:hover::before {
      transition: transform 2s ease-out;
    }
    .hover-underline.active::after,
    .hover-underline.active::before {
      transform: scaleX(1);
    }
  }
  .compatible-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      .image {
        width: 200px;
        height: 200px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;

    }
    .swiper-button-next,
      .swiper-button-prev {
        width: 30px;
        height: 30px;
        padding: 5px;
        background-color: white;
        border-color: lavender;
        border-radius: 50%;
        border: 1px solid lavender;
        box-sizing: border-box;
        &::after {
          color: #424750;
          font-size: 12px;
          font-weight: bold;
        }
      }
  }
}
