.infrastructures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  .infrastructures {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .title {

      &.hover-underline {
        text-align: center;
        font-family: Albert;
        font-weight: 700;
        font-size: 25px;
        color: #1b1528;
        position: relative;
        display: inline-block;
        padding: 10px 0px;
        box-sizing: border-box;
      }

      &.hover-underline::after,
      &.hover-underline::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #7956a6, #91d6ed);
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 1s ease-out;
      }

      &.hover-underline::before {
        top: -5px;
        transform-origin: left;
      }

      &.hover-underline:hover::after,
      &.hover-underline:hover::before {
        transition: transform 2s ease-out;
      }
      &.hover-underline.active::after,
      &.hover-underline.active::before {
        transform: scaleX(1);
      }
    }
    .text {
      display: flex;
      gap: 20px;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      .description {
        font-family: Albert;
        font-weight: 500;
        font-size: 18px;
        color: #1b1528;
      }
      ul {

        li {
            padding: 20px 0px;
            box-sizing: border-box;
            font-family: Albert;
            font-weight: 700;
            font-size: 16px;
            color: #3e217d;
            p{
                padding: 5px 0px;
            box-sizing: border-box;
                font-weight: 400;
                color: #1b1528;
            }
             
        }
      }
    }
  }
}
