.features {
  width: 100%;
  padding: 40px 60px;
  .groupFeatures {
    gap: 10px;
    .feature {
      width: 330px;
      height: 315px;
      gap: 5px;
      .image {
        width: 250px;
        height: 200px;
        img {
        }
      }
      .title {
        font-size: 26px;
      }
      .description {
        font-family: Albert;
        font-size: 16px;
      }
      &:hover {
      }
    }
  }
}
