.landing {
  height: 575px;
  .background {
    .bg {
      span {
      }

      span:nth-child(0) {
      }
      span:nth-child(1) {
      }
      span:nth-child(2) {
      }
      span:nth-child(3) {
      }
      span:nth-child(4) {
      }
      span:nth-child(5) {
      }
      span:nth-child(6) {
      }
      span:nth-child(7) {
      }
      span:nth-child(8) {
      }
    }
  }
  .main {
    padding: 0px 100px;

    align-items: start;
    flex-flow: row nowrap;
    .text {
      width: 50%;
      gap: 50px;
      .title {
        font-size: 60px;
      }
      .texts {
        gap: 50px;
        .top,
        .bottom {
          .items {

          }
          &.body {
          }

          .hover-underline {

          }

          .hover-underline::after,
          .hover-underline::before {

          }

          .hover-underline::before {
   
          }

          .hover-underline:hover::after,
          .hover-underline:hover::before {
     
          }
          .hover-underline.active::after,
          .hover-underline.active::before {
        
          }
        }
        .top {
          flex-flow: row nowrap;
          gap: 40px;
        }
      }
      .buttons {

        a {
          
          button {
          }
        }

        button:active,
        button:hover {

        }

        button span {

        }

        button:hover span {

        }

        button:active {

        }
      }
    }
    .mockup {
      width: 50%;
      height: 450px;
      align-items: end;
      img {

      }
    }
  }
}
