.statics{
  height: 400px;
padding: unset;
  .staticGroup {
    width: 95%;
    height: inherit;
    .texts {
      width: 95%;
      height: 100px;
      .items {
        font-weight: 700;
      }

      .hover-underline {

      }

      .hover-underline::after,
      .hover-underline::before {

      }

      .hover-underline::before {

      }

      .hover-underline:hover::after,
      .hover-underline:hover::before {

      }
      .hover-underline.active::after,
      .hover-underline.active::before {

      }
    }
    
    .static{
        width: 100%;
        height: 200px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        .counter-section{
          padding: 100px 0;
          .counter {

          }
          p{

          }
        }
        
    }
    .media {
      width: 70%;
      height: auto;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .sites{
        width: fit-content;
        height: 100%;
        padding: 20px 60px;
        justify-content: center;
        align-items: center;
        &:hover{

          a{
            font-weight: 600;
          }
          &:active{

          }
        }
        a{

          img{


          }
        }
      }
    }
  }

  
}
