.container {
  text-align: center;
  color: #2e2e2e;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 64px 100px;
  box-sizing: border-box;
  img{
    width: 540px;

  }
}
@media (max-width: 992px) {
    .container {
        width: 100%;
        padding: unset;
        img{
          width: 300px;
      margin: 100px auto;
        }
      }
}
