.enterprise-container {
  padding:50px  80px;
  box-sizing: border-box;
  gap: unset;
  .title {
    width: 95%;
    font-size: 40px;
    padding-top: 40px;
  }
  .description {
    width: 95%;
    p {
      font-size: 20px;
      margin-top: 20px;
      a {
        font-size: 20px;
      }
    }
  }
  .items {
    width: 95%;
    gap: 40px;
    padding: 70px 0px;
    .card {
      width: 47%;
      gap: 20px;
      padding: 20px;
      .titleAndImage {
        box-sizing: border-box;
        padding: 0px 35px;
        .title-card {
          font-size: 25px;
          font-weight: 600;
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
      .text {
        font-size: 16px;
        padding: 0px 35px;
        box-sizing: border-box;
      }
    }

    .card:hover {
    }
  }
}
