.supDevice {
  width: 100%;
padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: unset;
  .groupDevice {

    .device {
      width: 200px;

      .icon {
        width: 45px;
        height: 45px;

        img {
          width: 45px;
          height: 45px;

        }
      }
      .title{

        font-size: 20px;

      }
      .text{

        font-size: 16px;

      }
    }
  }
}
