.about-container {
  .background {
    .bottom-left {
      border-left: 200px solid transparent;
      border-top: 200px solid #8dd5ef;
    }

    .bottom-left-inner {
      border-left: 300px solid transparent;
      border-top: 300px solid #8caaf1;
    }

    .top-right {
      border-right: 200px solid transparent;
      border-bottom: 200px solid #a493f3;
    }
    .top-right-inner {
      border-right: 300px solid transparent;
      border-bottom: 300px solid #754ca6;
    }
    .curve-left {
      width: 100px;
      height: 100px;
    }
    .curve-right {
      width: 100px;
      height: 100px;
    }
  }
  .about {
    width: 95%;
    flex-flow: row nowrap;
    .text {
      width: 100%;
      gap: unset;
      .title {
        width: 100%;
        font-size: 40px;
        padding-left: 145px;
        padding-bottom: 20px;
      }
      .description {
        width: 100%;
        font-size: 20px;
        padding-left: 145px;
        box-sizing: border-box;
        text-align: left;
      }
    }
    .logo {
      width: 400px;
      height: 400px;
      img {
      }
    }
  }
}
