.history {
  padding: 64px 100px;
  gap: 16px;
  .title {

    &.hover-underline {
      font-size: 35px;

    }

    &.hover-underline::after,
    &.hover-underline::before {

    }

    &.hover-underline::before {

    }

    &.hover-underline:hover::after,
    &.hover-underline:hover::before {

    }
    &.hover-underline.active::after,
    &.hover-underline.active::before {

    }
  }
  .description {

    font-size: 16px;

  }
  .image{

    img{

        &.hidden-d{
        display: none;
        }
        &.hidden-m{
          display: block;
          }
    }
  }
}
