.infrastructures-container {

  padding: 64px 100px;

  .infrastructures {
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .title {

      &.hover-underline {
        font-size: 35px;

      }

      &.hover-underline::after,
      &.hover-underline::before {

      }

      &.hover-underline::before {

      }

      &.hover-underline:hover::after,
      &.hover-underline:hover::before {

      }
      &.hover-underline.active::after,
      &.hover-underline.active::before {

      }
    }
    .text {

      gap: 30px;

      .description {

        font-size: 25px;

      }
      ul {

        li {

            font-size: 18px;

            p{

            }
             
        }
      }
    }
  }
}
