.services-container {
  width: 100%;
  padding-top: 50px;
  .ourservices {
    gap: 30px;
    padding: unset;
    .title {
      &.hover-underline {
        font-size: 35px;
      }

      &.hover-underline::after,
      &.hover-underline::before {
      }

      &.hover-underline::before {
      }

      &.hover-underline:hover::after,
      &.hover-underline:hover::before {
      }
      &.hover-underline.active::after,
      &.hover-underline.active::before {
      }
    }
    .groupServices {
      width: 100%;

      gap: 10px;
      .service {
        width: 300px;
        height: 220px;
        padding: 20px;

        .title {
          font-size: 20px;
        }
        .description {
          font-size: 14px;
        }
        &:hover {
        }
      }
    }
  }
}
