.team-container {
  .team {
    width: 95%;
    gap: 30px;
    padding: 64px 100px;
    box-sizing: border-box;
    .title {
      &.hover-underline {
        font-size: 35px;
      }

      &.hover-underline::after,
      &.hover-underline::before {
      }

      &.hover-underline::before {
      }

      &.hover-underline:hover::after,
      &.hover-underline:hover::before {
      }
      &.hover-underline.active::after,
      &.hover-underline.active::before {
      }
    }
    .cards {
      justify-content: space-between;

      .flip-card {
        background-color: transparent;
        width: 16vw;
        height: 42vh;

        .flip-card-inner {
          .flip-card-front,
          .flip-card-back {
            .title {
            }
            p {
            }
          }
          .flip-card-front {
            img {
              width: 150px;
              height: 150px;
            }
          }

          .flip-card-back {
            img {
              width: 70px;
              height: 70px;
            }
          }
        }
      }

      .flip-card:hover .flip-card-inner {
      }
    }
  }
}
