.features-section {
  padding: 40px;
  .main-title {
    font-size: 40px;
  }
  .description {
    font-size: 20px;
  }

  .features-menu {
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    height: 100px;
    .feature-item {
      overflow-x: unset;
      overflow-y: unset;
      span {
        font-size: 20px;
        margin-top: 5px;
        padding: 20px 30px;
        &:hover {
        }
      }

      &.active {
        span {
        }
      }
    }
  }

  .feature-content {
    margin-top: unset;
    h3 {
      font-size: 50px;
    }
    h5 {
      font-size: 20px;
    }
    &.active {
    }
    .feature-block {
      img {
      }

      h3 {
        font-size: 28px;
      }

      p {
        font-size: 18px;
      }

      &:nth-child(even) .content-card {
      }
    }
  }
}
