.future-container {
  padding-top: 50px;
  .future {
    width: 95%;
    gap: 50px;
    .title {


      &.hover-underline {
        font-size: 35px;
      }

      &.hover-underline::after,
      &.hover-underline::before {

      }

      &.hover-underline::before {

      }

      &.hover-underline:hover::after,
      &.hover-underline:hover::before {

      }
      &.hover-underline.active::after,
      &.hover-underline.active::before {

      }
    }
    .items {
      ul {

        li {

          font-size: 18px;

        }
      }
    }
    .description {

      font-size: 20px;

      &.card {

      }
    }
  }
}
