.target-container {
  padding-top: 50px;
  .ourtarget {
    gap: 30px;
    .title {
      &.hover-underline {
        font-size: 35px;
      }

      &.hover-underline::after,
      &.hover-underline::before {
      }

      &.hover-underline::before {
      }

      &.hover-underline:hover::after,
      &.hover-underline:hover::before {
      }
      &.hover-underline.active::after,
      &.hover-underline.active::before {
      }
    }
    .container {
      width: 95%;

      .card {
        padding: 40px;

        gap: 16px;
        .subject {
          font-size: 22px;
        }
        .content {
          p {
          }
        }
      }
    }
  }
}
