.vision-container {
  width: 100%;
  padding-top: 50px;
  .ourVision {
    .title {
      &.hover-underline {
      }

      &.hover-underline::after,
      &.hover-underline::before {
      }

      &.hover-underline::before {
      }

      &.hover-underline:hover::after,
      &.hover-underline:hover::before {
      }
      &.hover-underline.active::after,
      &.hover-underline.active::before {
      }
    }

    .container{
      width: 95%;

      flex-flow: row nowrap;
      gap: 25px;

      .content{
        width: 50%;
       min-height: 240px ; 
        font-size: 18px;

      }
    }
  }
}
